/* here you can put your own css to customize and override the theme */
@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");

body {
    font-family: 'Tajawal', sans-serif !important;
}

.page-logo {
    margin-top: -10px;
}

.page-title h1 {
    font-family: 'Tajawal', sans-serif !important;
}

.dropdown-menu {
    box-shadow: -5px 5px 15px #ddd !important;
}

.nav-link,
.mega-menu-submenu a,
.mega-menu-content h3 {
    font-family: 'Tajawal', sans-serif !important;
}

.mega-menu-content h3 {
    color: #fff !important;
    padding:1rem 0.8rem !important;
    border-radius:5px;
    min-width:150px!important;
    text-align:center;
}

.social-icons li {
    float: none;
    display: inline-block;
}

.page-prefooter {
    padding: 1rem;
    text-transform: lowercase !important;
}

.page-prefooter .row {
    justify-content: center;
    align-content: center;
}

    .page-prefooter .row div {
        margin: 0px auto;
    }

.page-prefooter h2 {
    text-align: center;
    padding: 0px;
    margin: 0px;
    text-transform: lowercase !important;
    font-family: 'Tajawal', sans-serif !important;
    font-size: 1.2rem !important;
}

.page-prefooter small {
    color: #eeeeee;
    font-size: 1.2rem !important;
    margin-left: 1rem;
    margin-right: 1rem;
    text-transform: lowercase !important;
    font-family: 'Tajawal', sans-serif !important;
}

.page-prefooter .logo-default {
    margin: 0px;
    padding: 0px;
    height: 25px;
}

.portlet-title #add {
    margin: 5px 15px;
    position: relative;
}


#createEmployeeForm {
    margin: 0 1rem;
}

[data-title]:hover:after {
    display: block;
    transition: all 0.6s ease;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #fff;
    color: #337ab7;
    position: absolute;
    padding: 15px;
    top: -120%;
    left: 100%;
    box-shadow: 1px 1px 5px #ccc;
    border: solid 1px #337ab7;
    display: none;
    z-index: 1;
    border-radius: 10px;
    visibility: hidden;
    font-weight: 700;
    min-width: 200px;
    text-align: center;
    font-family: 'Tajawal', sans-serif !important;
    transition: all 0.6s ease;
}

[data-title] {
    position: relative;
    margin: 0 1rem;
    min-width: 25px;
    min-height: 25px;
}

#formAddEmployeeActions button {
    padding: 0.8rem 3rem;
    margin-left: 1rem;
}

#salesManData {
    opacity: 1;
    transition: all 1s ease;
}

#salesManData h3,
.modal-header h4{
    font-family: 'Tajawal', sans-serif !important;
    color: #337ab7;
}

#salesManData .hide {
    opacity: 0;
    transition: all 1s ease;
}

td {
    height: 100%;
    text-align: center;
    padding: 1rem !important;
    vertical-align: middle !important;
}

th {
    height: 100%;
    text-align: center;
}

.button-icon {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.custom-card {
    border-radius: 10px !important;
    border: solid #ccc 1px;
    box-shadow: -3px 3px 5px #ccc !important;
    padding: 15px 10px !important;
}