
@{
    ViewBag.Title = "ClientsSettlements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ClientsSettlements</h2>

@section Scripts{
    <script src="~/Areas/Clients/Scripts/ClientsSettlements.js"></script>
}