@model Sales.Web.Areas.Employee.Models.Employee

@{
    ViewBag.Title = "CreateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <div class="container-fluid">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>إضافة موظف جديد</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="/Employee/Employee/CreateEmployee">إضافة موظف جديد</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/Employee/Employee/Index">بيانات العاملين</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>إدارة العاملين</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="portlet light">
                <!-- BEGIN FORM-->
                <form action="#" id="form_sample_1" role="form">
                    <div class="form-body">
                        <!-- <div class="container"> -->
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label"></label>
                                    نوع الموظف
                                    <span class="required"> * </span>
                                    <div class="icheck-inline margin-top-15">
                                        <label>
                                            <input type="radio" name="radio2" id="salesMan" class="icheck"
                                                   data-radio="iradio_square-blue">
                                            مندوب
                                        </label>
                                        <label>
                                            <input type="radio" name="radio2" id="employee" class="icheck"
                                                   data-radio="iradio_square-blue" checked>
                                            موظف إداري
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button> You have some form errors. Please
                                    check below.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button> Your form validation is successful!
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label ">
                                        اسم الموظف
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" data-required="1" value="" class="form-control input-medium"
                                               name="empName" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">
                                        كود الموظف
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="number" name="empCode" data-required="1" value=""
                                               class="form-control input-medium" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">
                                        رقم الهاتف
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="tel" value="" name="empMobile" class="form-control input-medium" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="form-group">
                                    <label class="control-label">العنوان</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" value="" name="empAddress" class="form-control input-medium" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">الرقم القومي</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" value="" name="empNID" class="form-control input-medium" required />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">تاريخ الميلاد</label>
                                    <div class="input-icon right">
                                        <input class="form-control input-medium date-picker" size="16" type="text" value="" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">تاريخ التعيين</label>
                                    <div class="input-icon right">
                                        <input class="form-control input-medium date-picker" size="16" type="text" value="" required />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="single" class="control-label">فعال</label>
                                    <select id="single" class="form-control input-medium" name="isActive">
                                        <option value="job1">فعال</option>
                                        <option value="job2">غير فعال</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="single" class="control-label">الوظيفة</label>
                                    <select id="single" class="form-control input-medium" required >
                                        <option value="job1">وظيفة 1</option>
                                        <option value="job2">وظيفة 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div id="salesManData" class="hide">
                            <h3>بيانات خاصة بالمندوب</h3>
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            الحد الاقصي للبيع
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="number" class="form-control input-medium" min="0" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            الخد الاقصي للتحصيل
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" value="" class="form-control input-medium" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            الخد الاقصي للمديونية
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" value="" class="form-control input-medium" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="single" class="control-label">طريقة البيع</label>
                                        <select id="single" class="form-control input-medium">
                                            <option>نقدي او أجل</option>
                                            <option value="job1">نقدي فقط</option>
                                            <option value="job2">اجل فقط</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="single" class="control-label">صلاحيات المندوب</label>
                                        <select id="single" class="form-control input-medium">
                                            <option value="job1">جميع الصلاحيات</option>
                                            <option value="job2">بيع فقط</option>
                                            <option value="job2">تحصيل فقط</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="single" class="control-label">وسيلة الدفع</label>
                                        <select id="single" class="form-control input-medium">
                                            <option>option 1</option>
                                            <option value="job1">option 2</option>
                                            <option value="job2">option 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            هدف الزيارات الشهري
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" value="" class="form-control input-medium" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="single" class="control-label">استخدام الموقع</label>
                                        <i class="fa fa-info-circle " data-title="فتح الزيارة للمندوب في نطاق موقع العميل ">
                                        </i>
                                        <select id="single" class="form-control input-medium">
                                            <option value="job1">نعم</option>
                                            <option value="job2">لا</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="form-actions">
                            <div class="row">
                                <div class="col" id="formAddEmployeeActions">
                                    <button type="submit" class="btn green">إضافة</button>
                                    <button type="button" class="btn red">إلغاء</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<!-- END PAGE CONTENT BODY -->
@section Scripts{
    <script src="~/assets/scripts/pages/form-validation.min.js"></script>
    <script src="~/assets/scripts/pages/components-date-time-pickers.min.js"></script>
    <script src="~/Areas/Employee/scripts/CreateNewEmployee.js"></script>
}


