
@{
    ViewBag.Title = "EmployeeLocations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <div class="container-fluid">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>خط سير المندوب</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="/Employee/Employee/EmployeeLocations">خط سير المندوب</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>إدارة العاملين</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="portlet light">
            <form class="form" role="form">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group select2-bootstrap-prepend">
                                <span class="input-group-btn">
                                    <button class="btn green" type="button" data-select2-open="select-employee">
                                        إختر
                                        مندوب
                                    </button>
                                </span>
                                <select id="select-employee" class="form-control select2">
                                    <option>محمود</option>
                                    <option>علي</option>
                                    <option>محمد</option>
                                    <option>احمد</option>
                                    <option>مي</option>
                                    <option>يوسف</option>
                                    <option>طارق</option>
                                    <option>تامر</option>
                                    <option>عبده</option>
                                    <option>معاذ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">

                            <div class="input-group select2-bootstrap-prepend">
                                <span class="input-group-btn">
                                    <button class="btn green" type="button" data-select2-open="select-date">
                                        إختر التاريخ
                                    </button>
                                </span>
                                <input id="select-date" class="form-control date-picker" type="text" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        <div class="form-group">
                            <button type="submit" class="btn green btn-block">عرض</button>
                        </div>
                    </div>
                </div>
            </form>
            <div id="map" style="height:80vh;"></div>
        </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<!-- END PAGE CONTENT BODY -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7RKx0oCfAUoZQBTkhs5YkKl8kk8RO5Vw&callback=initMap&libraries=&v=weekly" async></script>
@section Scripts{
    <script src="~/Areas/Employee/scripts/EmployeeLocations.js"></script>
}
