@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <div class="container-fluid">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>بيانات العاملين</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="/Employee/Employee/Index">بيانات العاملين</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>إدارة العاملين</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption font-blue">
                                <i class="icon-users font-blue"></i>
                                <span class="caption-subject bold uppercase">جدول العاملين</span>
                            </div>
                            <div class="tools"> </div>
                            <div>
                                <a href="/Employee/Employee/CreateEmployee" id="add" type="button" target="_blank"
                                   class="btn green-meadow sbold btn-outline">
                                    إضافة موظف<i class="fa fa-user-plus button-icon"> </i>
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table id="EmployeesList" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>كود</th>
                                        <th>إسم</th>
                                        @*<th>وظيفة</th>
                                            <th>طريقة البيع</th>
                                            <th>صلاحيات</th>
                                            <th>فعال</th>*@
                                        <th>إعدادات</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<!-- END PAGE CONTENT BODY -->
<!-- Models -->

<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-body">
        <p> هل تريد تغيير نشاط المندوب </p>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn red">إلغاء</button>
        <button type="button" data-dismiss="modal" class="btn green">تأكيد</button>
    </div>
</div>

<div id="static2" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-body">
        <p> هل تريد تغيير مسح المندوب </p>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn red">إلغاء</button>
        <button type="button" data-dismiss="modal" class="btn green">تأكيد</button>
    </div>
</div>

@section Scripts{
    <script src="~/Areas/Employee/scripts/index.js"></script>
    <script src="~/assets/scripts/pages/CustomScript.js"></script>
    
    <script>
        var api_url = '@System.Configuration.ConfigurationManager.AppSettings["api_url"]';

            var DataTableColumns = [

            { "data": "Name", "searchable": true },
            { "data": "Code", "searchable": true },
            //{ "data": "Job", "searchable": true },
            //{ "data": "SellingMethod", "searchable": true },
            //{ "data": "Permision", "searchable": true },
            //{
            //    "data": "Active",
            //    "mRender": function (data, type, full) {
            //        if (Active) {
            //            return '<button class="btn green-meadow" data-target="#static" data-toggle="modal">Active</button>';
            //        }
            //        return '<button class="btn red" data-target="#static" data-toggle="modal">Active</button>';
            //    }
            //},
            {
                "data": "Id",
                "mRender": function (data, type, full) {
                    return "" +
                        '<button class="btn btn-info" data-title="تعديل المندوب"><i class="fa fa-pencil"></i></button>' +
                        '<button class="btn red" data-target="#static2" data-toggle="modal" data-title="حذف المندوب" onclick="DeleteColor(" + data + ")"><i class="fa fa-trash"></i></button >';
                }
            }

        ];
        alert(api_url);
        $("#EmployeesList").MakeDataTableOuterSearch(DataTableColumns, api_url + "Employee/Getall", 20, true, true);



    </script>
}