@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <div class="container-fluid">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>إدارة العاملين</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="index.html">إدارةالعاملين</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>الرئيسية</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption font-blue">
                                <i class="icon-users font-blue"></i>
                                <span class="caption-subject bold uppercase">جدول العاملين</span>
                            </div>
                            <div class="tools"> </div>
                            <div>
                                <a href="/Employee/Employee/CreateEmployee" id="add" type="button" target="_blank"
                                   class="btn green-meadow sbold btn-outline">
                                    <i class="fa fa-user-plus"> </i> إضافة جديدة
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>كود</th>
                                        <th>إسم</th>
                                        <th>وظيفة</th>
                                        <th>طريقة البيع</th>
                                        <th>صلاحيات</th>
                                        <th>فعال</th>
                                        <th>إعدادات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                        <td>$320,800</td>
                                        <td class="text-center">
                                            <p class="btn green-meadow">Active</p>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
                                            <button class="btn red"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<!-- END PAGE CONTENT BODY -->
