@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <div class="container-fluid">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>إدارة العاملين</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="index.html">إدارةالعاملين</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>الرئيسية</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption font-blue">
                                <i class="icon-users font-blue"></i>
                                <span class="caption-subject bold uppercase">جدول العاملين</span>
                            </div>
                            <div class="tools"> </div>
                            <div>
                                <button id="add" type="button" class="btn green-meadow sbold btn-outline">
                                    <i class="fa fa-user-plus"> </i> إضافة جديدة
                                </button>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>كود</th>
                                        <th>إسم</th>
                                        <th>وظيفة</th>
                                        <th>طريقة البيع</th>
                                        <th>صلاحيات</th>
                                        <th>فعال</th>
                                        <th>إعدادات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                        <td>$320,800</td>
                                        <td class="text-center">
                                            <p class="btn green-meadow">Active</p>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
                                            <button class="btn red"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<!-- END PAGE CONTENT BODY -->
<script type="text/javascript">
    var ApiUrl = '@System.Configuration.ConfigurationManager.AppSettings["api_url"]';

        function LoadApprovedOrders() {
            $("#tblItems").one("preInit.dt", function () {
                $button = $('<a id="btnS" href="javascript:void()" class="btn btn-primary"> <i class="fa fa-search"></i></a>');
                $("#tblItems_filter label").append($button);
                $button.button();
                $("#tblItems_filter input").off();//.on('keyup', function () {$('#tblItems').DataTable().search(this.value.trim(), false, false).draw();});
                $('#btnS').click(() => {
                    $('#tblItems').DataTable().search($("#tblItems_filter input").val().trim(), false, false).draw();
                });
            });
            $.fn.dataTable.ext.errMode = 'alert';
            // approved orders
            $('#tblItems').on('error.dt', function (e, settings, techNote, message) {
                alert(message);
            }).DataTable({
                dom: 'Blfrtip',
                searching: true,
                processing: true,
                serverSide: true,
                filter: true,
                orderMulti: false,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: ['copy', 'excel', 'pdf', 'print'],
                ajax: {
                    url: ApiUrl + "api/Order/LoadOrders",
                    headers: { 'option': option, 'startDate': sDate, 'endDate': eDate },
                    type: "POST",
                    datatype: "json"
                },
                initComplete: () => {
                    $.fn.dataTable.ext.search.push(
                        function (settings, data, dataIndex) {
                            var min = parseInt($('#min').val(), 10);
                            var max = parseInt($('#max').val(), 10);
                            var age = parseFloat(data[0]) || 0; // use data for the age column

                            if ((isNaN(min) && isNaN(max)) ||
                                (isNaN(min) && age <= max) ||
                                (min <= age && isNaN(max)) ||
                                (min <= age && age <= max)) {
                                return true;
                            }
                            return false;
                        }
                    );
                },
                "order": [[0, "desc"]],
                columns: [
                    { data: "Id", name: "Id", title: "Num", width: 40, searchable: true },
                    { data: "User", name: "User", title: "Customer", width: 100, searchable: true },
                    { data: "PaymentMethod", name: "PaymentMethod", title: "Payment", autoWidth: true, searchable: true },
                    {
                        data: "OrderDate", name: "OrderDate", title: "Order Date", autoWidth: true, render: function (data) {
                            var str = new Date(data);
                            return str.toLocaleString();
                        }
                    },
                    { data: "RequiredDate", name: "RequiredDate", title: "Required Date", autoWidth: true, searchable: true },
                    {
                        data: "FromTime", name: "FromTime", title: "Time", autoWidth: true, render: function (data, type, row) {
                            var str = data + " To " + row.ToTime;
                            return str;
                        }
                    },
                    { data: "DeliveryTime_Id", name: "DeliveryTime_Id", title: "DeliveryTime_Id", autoWidth: true, searchable: true, visible: false },
                    {
                        data: { "Rate": "Rate", "Id": "Id" }, name: "Rate", title: "Rate", autoWidth: true, render: function (data) {
                            return '<a class="badge bg-purple"  onclick="Comments(' + data.Id + ');" data-toggle="modal" data-target="#myModal">' + data.Rate + '</a>';
                        }
                    }
                   
                ]
            });// end data table

        }


        $(document).ready(function () {

            LoadApprovedOrders();

                $('#tblItems').on('error.dt', function (e, settings, techNote, message) {
                    alert(message);
                }).DataTable({
                    dom: 'Blfrtip',
                    searching: true,
                    processing: true,
                    serverSide: true,
                    filter: true,
                    orderMulti: false,
                    lengthMenu: [[100, -1], [100, "All"]],
                    buttons: ['copy', 'excel', 'pdf', 'print'],
                    ajax: {
                        url: ApiUrl + "api/Customer/LoadData",
                        type: "POST",
                        datatype: "json"
                    },
                    columns: [
                        { data: "Id", name: "Id", title: "Id", width: 60, searchable: true },
                        { data: "FirstName", name: "FirstName", title: "First Name", autoWidth: true, searchable: true },
                        { data: "LastName", name: "LastName", title: "Last Name", autoWidth: true, searchable: true },
                        { data: "Mobile", name: "Mobile", title: "Mobile", autoWidth: true, searchable: true },
                        { data: "Email", name: "Email", title: "Email", autoWidth: true, searchable: true },
                        { data: "Points", name: "Points", title: "Points", autoWidth: true, searchable: true },
                        { data: "Wallet", name: "Wallet", title: "Wallet", autoWidth: true, searchable: true },
                        {
                            data: "Disable", name: "Disable", title: "Disable", width: 30, render: function (data, type, row, meta) {
                                if (data == true) {
                                    return '<div class="form-check">' +
                                        '<input type="checkbox" class="form-check-input Available" id="Available" onclick="Available(' + row.Id + ');" checked />' +
                                        '</div>';
                                } else {
                                    return '<div class="form-check">' +
                                        '<input type="checkbox" class="form-check-input Available" id="Available" onclick="Available(' + row.Id + ');" />' +
                                        '</div>';
                                }
                            }
                        }
                    ]
                });


            });

         
    

</script>